//Fuentes
$roboto-font-family:'Roboto', sans-serif;
$oxygen-font-family: 'Oxygen', sans-serif;

//tamanos de pantalla
$small: 30em;
$medium: 48em;
$large: 64em;

//Maximo tamaño de contenedor
$max-width: 1200px;

//Numero de columnas del template
$num-col: 12;